<h3>Recebidor de arquivos via http</h3>

<form enctype="multipart/form-data" action="/uploads/" method="post">
    <input type="file" name="file" id="file">
    <input type="submit" value="Enviar">
</form>